@{
    ViewData["Title"] = "Seçilen Vardiya Bilgileri";
}
@model Shift
<div class="widget-title">
    <a href="/Shift/Shifts"> <i class="las la-angle-left"></i></a>
    <h4 style="text-align:center;">Seçilen Vardiya Bilgileri</h4>
    <div></div>
</div>

<div class="widget-content">
    <div class="sidebar-widget company-widget">
        <div class="widget-content">
            <ul class="company-info mt-0">
                <li>Vardiyanın Tipi: <span>@Model.ShiftType.Name</span></li>
                <li>Vardiyanın durumu: <span>@Model.ShiftStatus.Name</span></li>
                <li>Vardiyanın Başlangıç Zamanı: <span>@Model.StartTime</span></li>
                <li>Vardiyanın Bitiş Zamanı: <span>@Model.EndTime</span></li>
                <li style="border-bottom: 1px solid black;"></li>
                <li>Takım Adı: <span>@ViewBag.Team.TeamName</span></li>
                 <li>Takımın Çalışan Sayısı: <span>@ViewBag.PersonelList.Count</span></li> 
                <li>Takım Lideri Adı Soyadı: <span>@ViewBag.Team.TeamLeader.FirstName @ViewBag.Team.TeamLeader.LastName </span></li>
                <li style="border-bottom: 1px solid black;"></li>
            </ul>


            <div class="btn-box"><a href="/Shift/UpdateShift?shiftId=@Model.Id" class="theme-btn btn-style-three">Vardiya Bilgilerini Güncelle</a></div>
        </div>
        <table class="default-table manage-job-table" style="border:1px solid black">
            <thead>
                <tr>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>Yetkisi</th>
                    <th>Aktif/Pasif</th>
                    <th>Görüntüle/Güncelle/Değiştir/Sil</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var personel in ViewBag.PersonelList)
                {
                    <tr>
                        <td> @personel.FirstName </td>
                        <td> @personel.LastName</td>
                        <td> @personel.Title.Name </td>

                        @if (personel.IsActive)
                        {
                            <td class="activeStatus">Aktif</td>
                        }
                        else
                        {
                            <td class="passiveStatus">Pasif</td>

                        }
                        <td>
                            <div class="option-box">
                                <ul class="option-list">
                                    <li><a data-text="Görüntüle" href="/Personel/PersonelView?personelId=@personel.Id"><span class="la la-eye"></span></a></li>
                                    <li><a data-text="Güncelle" href="/Personel/UpdatePersonel?personelId=@personel.Id"><span class="la la-pencil"></span></a></li>
                                    <li><a data-text="Çalışanı Değiştir" href="/Personel/ChangePersonel?personelId=@personel.Id"><span class="las la-sync"></span></a></li>
                                    @if (personel.IsActive)
                                    {
                                        <li><a data-text="Pasife Çek" href="/Personel/UpdatePassiveStatu?personelId=@personel.Id"><span class="la la-trash"></span></a></li>
                                    }
                                </ul>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
